<h1><%= @place.name %></h1>
<br>

<% for entry in @entries %>
  <h2><%= entry.title %></h2>
  <p><%= entry.occurred_on %></p>
  <p><%= entry.description %></p>
  <br>
<% end %>

<a href="/places/<%= @place.id %>/entries/new">Add New Post</a>
<br>
<br>
<a href="/places">Back to All Places</a>
